.a-field {
  width: 100%;
  cursor: text;
  display: flex;
  resize: inherit;
  flex: 1;
  flex-direction: column;
  writing-mode: horizontal-tb;
  max-width: 100%;
}

.a-container-overflow {
  resize: inherit;
  border-start-start-radius: var(--_container-shape-start-start);
  border-start-end-radius: var(--_container-shape-start-end);
  border-end-end-radius: var(--_container-shape-end-end);
  border-end-start-radius: var(--_container-shape-end-start);
  display: flex;
  height: 100%;
  position: relative;
}

.a-container {
  align-items: center;
  border-radius: inherit;
  display: flex;
  flex: 1;
  max-height: 100%;
  min-height: 100%;
  min-width: min-content;
  position: relative;
}

.a-start {
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.a-middle {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  align-items: stretch;
  align-self: baseline;
  flex: 1;
}

.a-end {
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  position: relative;
  color: var(--_trailing-content-color);
}

.a-content {
  color: var(--_content-color);
  display: flex;
  flex: 1 1 0%;
  opacity: 0;
  transition: opacity 83ms cubic-bezier(0.2, 0, 0, 1) 0s;
}
.focused .a-content,
.populated .a-content {
  opacity: 1;
  transition-delay: 67ms;
}

.a-input {
  caret-color: var(--_caret-color);
  overflow-x: hidden;
  text-align: inherit;
}
