.a-input-wrapper {
  all: unset;
  color: currentColor;
  font-family: var(--_content-font);
  font-size: var(--_content-size);
  line-height: var(--_content-line-height);
  font-weight: var(--_content-weight);
  width: 100%;
  overflow-wrap: revert;
  white-space: revert;
  display: flex;
  padding-top: var(--_top-space);
  padding-bottom: var(--_bottom-space);
  & > * {
    all: inherit;
    padding: 0;
  }
}
.a-field:not(.no-label) .a-field-filled .a-input-wrapper {
  padding-bottom: var(--_with-label-bottom-space);
  padding-top: calc(
    var(--_with-label-top-space) + var(--_label-text-populated-line-height)
  );
}
.a-field:not(.with-start) .a-field-filled .a-input-wrapper {
  padding-inline-start: var(--_leading-space);
}
.a-field:not(.with-end) .a-field-filled .a-input-wrapper {
  padding-inline-end: var(--_trailing-space);
}

.a-field:not(.no-label) .a-field-outlined .a-input-wrapper {
  padding-top: var(--_top-space);
  padding-bottom: var(--_bottom-space);
}

.a-field:not(.with-start) .a-field-outlined .a-input-wrapper {
  padding-inline-start: max(
    var(--_leading-space),
    max(var(--_container-shape-start-start), var(--_container-shape-end-start)) +
      var(--_outline-label-padding)
  );
}
.a-field:not(.with-end) .a-field-outlined .a-input-wrapper {
  padding-inline-end: max(
    var(--_trailing-space),
    max(var(--_container-shape-start-end), var(--_container-shape-end-end))
  );
}
