.a-state-layer {
  border-radius: inherit;
  inset: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
}
:hover .a-state-layer {
  background: var(--_hover-state-layer-color);
  opacity: var(--_hover-state-layer-opacity);
}
.a-field:not(.disabled):hover .a-state-layer {
  visibility: visible;
}
