.radio-group {
  display: flex;
}
.radio-group[aria-orientation='horizontal'] {
  gap: 14px;
  align-items: center;
}
.radio-group[aria-orientation='vertical'] {
  flex-direction: column;
}
.description {
  font-size: 12px;
}
.error-message {
  font-size: 12px;
  color: var(--md-sys-color-error);
}
