.radio-wrapper {
  gap: 8px;
  height: 48px;
  display: flex;
  align-items: center;
}
.radio {
  outline: none;
  display: inline-flex;
  height: var(--md-radio-icon-size, 20px);
  position: relative;
  vertical-align: top;
  width: var(--md-radio-icon-size, 20px);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  --md-ripple-hover-color: var(
    --md-radio-hover-state-layer-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --md-ripple-hover-opacity: var(--md-radio-hover-state-layer-opacity, 0.08);
  --md-ripple-pressed-color: var(
    --md-radio-pressed-state-layer-color,
    rgb(var(--md-sys-color-primary))
  );
  --md-ripple-pressed-opacity: var(
    --md-radio-pressed-state-layer-opacity,
    0.12
  );
}
.container {
  display: flex;
  height: 100%;
  place-content: center;
  place-items: center;
  width: 100%;
}
.checked .icon {
  fill: var(--md-radio-selected-icon-color, rgb(var(--md-sys-color-primary)));
}
.icon {
  fill: var(--md-radio-icon-color, rgb(var(--md-sys-color-on-surface-variant)));
  inset: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.outer.circle {
  transition: fill 50ms linear;
}
.checked .inner.circle {
  animation: 300ms cubic-bezier(0.05, 0.7, 0.1, 1) 0s 1 normal none running
    inner-circle-grow;
  opacity: 1;
}
.inner.circle {
  opacity: 0;
  transform-origin: center;
  transition: opacity 50ms linear;
}
.input {
  appearance: none;
  outline: none;
  height: 48px;
  margin: 0;
  position: absolute;
  width: 48px;
  cursor: inherit;
}
