.accordion {
  padding: 16px;
  display: flex;
  gap: 16px;
  border-radius: 8px;
  flex-direction: column;
}

.accordion-item {
  padding: 16px;
  border-width: 1px;
  border-radius: 6px;
}

.accordion-header {
  display: flex;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.accordion-content {
  display: grid;
  transition-duration: 300ms;
  grid-template-rows: 0fr;
  transition-property: grid-template-rows;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  &.active {
    grid-template-rows: 1fr;
  }
}
