.pagination {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  background-color: var(--md-sys-color-surface);
}
.ul {
  list-style: none;
  margin: 0;
  padding: 0;

  display: none;
  gap: 1rem;
}
@media (min-width: 1024px) {
  .ul {
    display: flex;
  }
}
.page-size {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 0.75rem /* 12px */;
  padding-right: 0.75rem /* 12px */;
  padding-top: 0.25rem /* 4px */;
  padding-bottom: 0.25rem /* 4px */;
  background-color: var(--md-sys-color-surface);
}
.page-size-wrapper {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  align-items: center;
}
.item-per-page {
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
}
