.host {
  border-start-start-radius: var(
    --md-dialog-container-shape-start-start,
    var(
      --md-dialog-container-shape,
      var(--md-sys-shape-corner-extra-large, 28px)
    )
  );
  border-start-end-radius: var(
    --md-dialog-container-shape-start-end,
    var(
      --md-dialog-container-shape,
      var(--md-sys-shape-corner-extra-large, 28px)
    )
  );
  border-end-end-radius: var(
    --md-dialog-container-shape-end-end,
    var(
      --md-dialog-container-shape,
      var(--md-sys-shape-corner-extra-large, 28px)
    )
  );
  border-end-start-radius: var(
    --md-dialog-container-shape-end-start,
    var(
      --md-dialog-container-shape,
      var(--md-sys-shape-corner-extra-large, 28px)
    )
  );
  display: contents;
  margin: auto;
  max-height: min(560px, 100% - 48px);
  max-width: min(560px, 100% - 48px);
  min-height: 140px;
  min-width: 280px;
  position: fixed;
  height: fit-content;
  width: fit-content;
}
.scrim {
  background: var(--md-sys-color-scrim);
  display: none;
  inset: 0px;
  opacity: 0.32;
  pointer-events: none;
  position: fixed;
  z-index: 99;
  &.open {
    display: flex;
  }
}
.dialog {
  z-index: 99;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: inherit;
  flex-direction: column;
  height: inherit;
  margin: inherit;
  max-height: inherit;
  max-width: inherit;
  min-height: inherit;
  min-width: inherit;
  outline: none;
  overflow: visible;
  padding: 0px;
  width: inherit;
  &[open] {
    display: flex;
  }
}
.container {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  transform-origin: center top;
  &:before {
    background: var(
      --md-dialog-container-color,
      var(--md-sys-color-surface-container-high)
    );
    border-radius: inherit;
    content: '';
    inset: 0px;
    position: absolute;
  }
}
.headline {
  align-items: center;
  color: var(--md-dialog-headline-color, var(--md-sys-color-on-surface));
  display: flex;
  flex-direction: column;
  font-family: var(
    --md-dialog-headline-font,
    var(
      --md-sys-typescale-headline-small-font,
      var(--md-ref-typeface-brand, Roboto)
    )
  );
  font-size: var(
    --md-dialog-headline-size,
    var(--md-sys-typescale-headline-small-size, 1.5rem)
  );
  line-height: var(
    --md-dialog-headline-line-height,
    var(--md-sys-typescale-headline-small-line-height, 2rem)
  );
  font-weight: var(
    --md-dialog-headline-weight,
    var(
      --md-sys-typescale-headline-small-weight,
      var(--md-ref-typeface-weight-regular, 400)
    )
  );
  gap: 8px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 24px 24px 0;
}
.scroller {
  display: flex;
  flex: 1;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}
.content {
  color: var(
    --md-dialog-supporting-text-color,
    var(--md-sys-color-on-surface-variant)
  );
  font-family: var(
    --md-dialog-supporting-text-font,
    var(
      --md-sys-typescale-body-medium-font,
      var(--md-ref-typeface-plain, Roboto)
    )
  );
  font-size: var(
    --md-dialog-supporting-text-size,
    var(--md-sys-typescale-body-medium-size, 0.875rem)
  );
  line-height: var(
    --md-dialog-supporting-text-line-height,
    var(--md-sys-typescale-body-medium-line-height, 1.25rem)
  );
  font-weight: var(
    --md-dialog-supporting-text-weight,
    var(
      --md-sys-typescale-body-medium-weight,
      var(--md-ref-typeface-weight-regular, 400)
    )
  );
  height: min-content;
  padding: 24px 24px 8px;
}
.top.anchor {
  top: 0;
}
.anchor {
  position: absolute;
}
.bottom.anchor {
  bottom: 0;
}
.icon {
  display: flex;
}
.actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 16px 24px 24px;
}
