.a-btn-background {
  background-color: var(--_container-color);
  border-radius: inherit;
  inset: 0;
  position: absolute;
}
.a-btn-disabled .a-btn-background {
  opacity: var(--_disabled-container-opacity);
  background-color: var(--_disabled-container-color);
}
