.secondary {
  --md-sys-color-primary: var(--md-sys-color-secondary);
}
.tertiary {
  --md-sys-color-primary: var(--md-sys-color-tertiary);
}
.error {
  --md-sys-color-primary: var(--md-sys-color-error);
}
