.a-btn-label {
  text-overflow: inherit;
  overflow: hidden;
  display: inherit;
  gap: inherit;
  align-items: inherit;
}
.a-btn-disabled .a-btn-label {
  color: var(--_disabled-label-text-color);
  opacity: var(--_disabled-label-text-opacity);
}
