.a-btn-outline {
  outline-style: none;
  border-width: var(--_outline-width);
  inset: 0px;
  border-style: solid;
  position: absolute;
  box-sizing: border-box;
  border-color: var(--_outline-color);
  border-start-start-radius: var(--_container-shape-start-start);
  border-start-end-radius: var(--_container-shape-start-end);
  border-end-start-radius: var(--_container-shape-end-start);
  border-end-end-radius: var(--_container-shape-end-end);
}
