.chip {
  --_container-height: var(--md-assist-chip-container-height, 32px);
  --_disabled-label-text-color: var(
    --md-assist-chip-disabled-label-text-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_disabled-label-text-opacity: var(
    --md-assist-chip-disabled-label-text-opacity,
    0.38
  );
  --_elevated-container-color: var(
    --md-assist-chip-elevated-container-color,
    rgb(var(--md-sys-color-surface-container-low))
  );
  --_elevated-container-elevation: var(
    --md-assist-chip-elevated-container-elevation,
    1
  );
  --_elevated-container-shadow-color: var(
    --md-assist-chip-elevated-container-shadow-color,
    rgb(var(--md-sys-color-shadow))
  );
  --_elevated-disabled-container-color: var(
    --md-assist-chip-elevated-disabled-container-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_elevated-disabled-container-elevation: var(
    --md-assist-chip-elevated-disabled-container-elevation,
    0
  );
  --_elevated-disabled-container-opacity: var(
    --md-assist-chip-elevated-disabled-container-opacity,
    0.12
  );
  --_elevated-focus-container-elevation: var(
    --md-assist-chip-elevated-focus-container-elevation,
    1
  );
  --_elevated-hover-container-elevation: var(
    --md-assist-chip-elevated-hover-container-elevation,
    2
  );
  --_elevated-pressed-container-elevation: var(
    --md-assist-chip-elevated-pressed-container-elevation,
    1
  );
  --_focus-label-text-color: var(
    --md-assist-chip-focus-label-text-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_hover-label-text-color: var(
    --md-assist-chip-hover-label-text-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_hover-state-layer-color: var(
    --md-assist-chip-hover-state-layer-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_hover-state-layer-opacity: var(
    --md-assist-chip-hover-state-layer-opacity,
    0.08
  );
  --_label-text-color: var(
    --md-assist-chip-label-text-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_label-text-font: var(
    --md-assist-chip-label-text-font,
    var(
      --md-sys-typescale-label-large-font,
      var(--md-ref-typeface-plain, Roboto)
    )
  );
  --_label-text-line-height: var(
    --md-assist-chip-label-text-line-height,
    var(--md-sys-typescale-label-large-line-height, 1.25rem)
  );
  --_label-text-size: var(
    --md-assist-chip-label-text-size,
    var(--md-sys-typescale-label-large-size, 0.875rem)
  );
  --_label-text-weight: var(
    --md-assist-chip-label-text-weight,
    var(
      --md-sys-typescale-label-large-weight,
      var(--md-ref-typeface-weight-medium, 500)
    )
  );
  --_pressed-label-text-color: var(
    --md-assist-chip-pressed-label-text-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_pressed-state-layer-color: var(
    --md-assist-chip-pressed-state-layer-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_pressed-state-layer-opacity: var(
    --md-assist-chip-pressed-state-layer-opacity,
    0.12
  );
  --_disabled-outline-color: var(
    --md-assist-chip-disabled-outline-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_disabled-outline-opacity: var(
    --md-assist-chip-disabled-outline-opacity,
    0.12
  );
  --_focus-outline-color: var(
    --md-assist-chip-focus-outline-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_outline-color: var(
    --md-assist-chip-outline-color,
    rgb(var(--md-sys-color-outline))
  );
  --_outline-width: var(--md-assist-chip-outline-width, 1px);
  --_selected-container-color: var(
    --md-filter-chip-selected-container-color,
    rgb(var(--md-sys-color-secondary-container))
  );
  --_selected-outline-width: var(--md-filter-chip-selected-outline-width, 0px);
  --_selected-label-text-color: var(
    --md-filter-chip-selected-label-text-color,
    rgb(var(--md-sys-color-on-secondary-container))
  );
  --_disabled-leading-icon-color: var(
    --md-assist-chip-disabled-leading-icon-color,
    rgb(var(--md-sys-color-on-surface))
  );
  --_disabled-leading-icon-opacity: var(
    --md-assist-chip-disabled-leading-icon-opacity,
    0.38
  );
  --_focus-leading-icon-color: var(
    --md-assist-chip-focus-leading-icon-color,
    rgb(var(--md-sys-color-primary))
  );
  --_hover-leading-icon-color: var(
    --md-assist-chip-hover-leading-icon-color,
    rgb(var(--md-sys-color-primary))
  );
  --_leading-icon-color: var(
    --md-assist-chip-leading-icon-color,
    rgb(var(--md-sys-color-primary))
  );
  --_icon-size: var(--md-assist-chip-icon-size, 18px);
  --_pressed-leading-icon-color: var(
    --md-assist-chip-pressed-leading-icon-color,
    rgb(var(--md-sys-color-primary))
  );
  --_container-shape-start-start: var(
    --md-assist-chip-container-shape-start-start,
    var(--md-assist-chip-container-shape, var(--md-sys-shape-corner-small, 8px))
  );
  --_container-shape-start-end: var(
    --md-assist-chip-container-shape-start-end,
    var(--md-assist-chip-container-shape, var(--md-sys-shape-corner-small, 8px))
  );
  --_container-shape-end-end: var(
    --md-assist-chip-container-shape-end-end,
    var(--md-assist-chip-container-shape, var(--md-sys-shape-corner-small, 8px))
  );
  --_container-shape-end-start: var(
    --md-assist-chip-container-shape-end-start,
    var(--md-assist-chip-container-shape, var(--md-sys-shape-corner-small, 8px))
  );
  --_leading-space: var(--md-assist-chip-leading-space, 16px);
  --_trailing-space: var(--md-assist-chip-trailing-space, 16px);
  --_icon-label-space: var(--md-assist-chip-icon-label-space, 8px);
  --_with-leading-icon-leading-space: var(
    --md-assist-chip-with-leading-icon-leading-space,
    8px
  );
  --_icon-size: var(--md-filter-chip-icon-size, 18px);
  outline: none;
}
.cell {
  position: relative;
  padding-inline-start: var(--_leading-space);
  padding-inline-end: var(--_trailing-space);
  border-start-start-radius: var(--_container-shape-start-start);
  border-start-end-radius: var(--_container-shape-start-end);
  border-end-start-radius: var(--_container-shape-end-start);
  border-end-end-radius: var(--_container-shape-end-end);
  display: inline-flex;
  align-items: center;
  height: var(--_container-height);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --md-ripple-hover-color: var(--_hover-state-layer-color);
  --md-ripple-hover-opacity: var(--_hover-state-layer-opacity);
  --md-ripple-pressed-color: var(--_pressed-state-layer-color);
  --md-ripple-pressed-opacity: var(--_pressed-state-layer-opacity);
}
.cell:before {
  border-radius: inherit;
  content: '';
  inset: 0;
  pointer-events: none;
  position: absolute;
}
[aria-selected='true'] .cell:before {
  background: var(--_selected-container-color);
}
.leading-icon {
  display: none;
  padding-inline-end: var(--_icon-label-space);
}
[aria-selected='true'] .leading-icon {
  display: flex;
  z-index: 1;
}
.cell.has-trailing {
  padding-inline-end: 0;
}
.label {
  z-index: 1;
  align-items: center;
  color: var(--_label-text-color);
  display: flex;
  font-family: var(--_label-text-font);
  font-size: var(--_label-text-size);
  font-weight: var(--_label-text-weight);
  height: 100%;
  line-height: var(--_label-text-line-height);
  overflow: hidden;
  user-select: none;
}
[aria-selected='true'] .label {
  color: var(--_selected-label-text-color);
}
.outline {
  border: var(--_outline-width) solid var(--_outline-color);
  border-radius: inherit;
  inset: 0;
  pointer-events: none;
  position: absolute;
}
