.tabs {
  padding: 8px;
  --_active-indicator-width: var(
    --md-secondary-tab-active-indicator-width,
    2px
  );
  --_active-indicator-height: var(
    --md-secondary-tab-active-indicator-height,
    2px
  );
  --_active-indicator-color: var(
    --md-secondary-tab-active-indicator-color,
    var(--md-sys-color-primary, #6750a4)
  );
}
.tabs-vertical {
  display: flex;
}
.tab {
  position: relative;
}
.tabpanel {
  flex: 1;
}
.tab-selection {
  position: absolute;
  will-change: transform, width;
  transition:
    transform 150ms,
    width 100ms;
  background: var(--_active-indicator-color);
}
.tab-selection-horizontal {
  left: 0;
  bottom: 2px;
  height: var(--_active-indicator-height);
}
.tab-selection-vertical {
  top: 0;
  right: 2px;
  width: var(--_active-indicator-width);
}
.tab-list {
  display: flex;
  gap: 8px;
  align-items: center;
}
.tab-list-vertical {
  flex-direction: column;
}
.tab-item {
  padding: 10px 12px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  &:focus-visible {
    outline: none;
  }
}
