.root {
  display: grid;
  width: 100%;
  overflow: hidden;
  place-items: center;
}
.root-inner {
  position: relative;
  height: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
}
.button {
  position: absolute;
  top: 50%;
  transform: traslateY(-50%);
  background-color: rgb(var(--md-sys-color-surface));
}
.button-prev {
  left: 1rem;
}
.button-next {
  right: 1rem;
}
.item {
  width: 100%;
  height: 100%;
  display: inline-block;
  flex: none;
  transition: var(--transition);
  transform: translateX(var(--transform));
}
.indicator {
  position: absolute;
  bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.5rem;
}
.indicator-item {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  cursor: pointer;
  background-color: rgb(var(--md-sys-color-inverse-surface));
}
.indicator-active {
  background-color: rgb(var(--md-sys-color-surface));
}
