.toast-region {
  position: fixed;
  z-index: 999;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.toast {
  --_container-elevation: 3;
  --_container-shadow-color: var(--md-sys-color-shadow);
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  background-color: var(--md-sys-color-inverse-surface);
  color: var(--md-sys-color-inverse-on-surface);
  border-radius: 4px;
}

.toast-content {
  width: 344px;
}

.toast-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.close-button {
  color: var(--md-sys-color-inverse-on-surface);
}
