.root {
  position: fixed;
  overflow: hidden;
  inset: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 500ms;
  pointer-events: none;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.32);
}
.root-open {
  pointer-events: auto;
}
/* placement left and right */
.placement-x {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
/* placement top and bottom */
.placement-y {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.content {
  position: absolute;
  overflow-y: auto;
  background-color: var(--md-sys-color-surface);
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.content-left {
  left: 0;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.content-right {
  right: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.content-top {
  top: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.content-bottom {
  bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.content-x {
  width: 100%;
  height: 100%;
  max-width: 20rem;
}
.content-y {
  height: 100vh;
  width: 100%;
  max-height: 20rem;
}
