.root {
  overflow: hidden;
  margin: 0 auto;
  height: 16rem /* 256px */;
  background-color: #000000;
  border-radius: 0.25rem /* 4px */;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.traffic-light {
  display: flex;
  height: 1.5rem /* 24px */;
  align-items: center;
  border-bottom-width: 1px;
  background-color: var(--md-sys-color-surface);
}
.red {
  margin-left: 0.5rem /* 8px */;
  width: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
  border-radius: 9999px;
  border-color: #7f1d1d;
  background-color: #ef4444;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.yellow {
  margin-left: 0.5rem /* 8px */;
  width: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
  border-radius: 9999px;
  border-color: #713f12;
  background-color: #eab308;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.green {
  margin-left: 0.5rem /* 8px */;
  width: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
  border-radius: 9999px;
  border-color: #14532d;
  background-color: #22c55e;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
