.root {
  overflow: hidden;
  margin: 0 auto;
  --tw-bg-opacity: 1;
  height: 16rem /* 256px */;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity)) /* #000000 */;
  border-radius: 0.25rem /* 4px */;
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.traffic-light {
  display: flex;
  height: 1.5rem /* 24px */;
  align-items: center;
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--md-sys-color-surface) / var(--tw-bg-opacity));
}
.red {
  margin-left: 0.5rem /* 8px */;
  width: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
  border-radius: 9999px;
  --tw-border-opacity: 1;
  border-color: rgb(127 29 29 / var(--tw-border-opacity)) /* #7f1d1d */;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity)) /* #ef4444 */;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.yellow {
  margin-left: 0.5rem /* 8px */;
  width: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
  border-radius: 9999px;
  --tw-border-opacity: 1;
  border-color: rgb(113 63 18 / var(--tw-border-opacity)) /* #713f12 */;
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity)) /* #eab308 */;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.green {
  margin-left: 0.5rem /* 8px */;
  width: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
  border-radius: 9999px;
  --tw-border-opacity: 1;
  border-color: rgb(20 83 45 / var(--tw-border-opacity)) /* #14532d */;
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity)) /* #22c55e */;
  --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
