.root {
  position: fixed;
  overflow: hidden;
  z-index: 50;
  inset: 0;
  opacity: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 500ms;
  background-color: rgba(0, 0, 0, 0.32);
}
.inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  left: 2.5rem /* 40px */;
  right: 2.5rem /* 40px */;
  bottom: 0px;
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.grab {
  display: inline-flex;
  height: 2.25rem /* 36px */;
  width: 100%;
  cursor: grab;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem /* 12px */;
  padding: 1rem /* 16px */;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--md-sys-color-surface) / var(--tw-bg-opacity));
  border-top-left-radius: 6.25rem /* 100px */;
  border-top-right-radius: 6.25rem /* 100px */;
}
.grab-item {
  height: 0.25rem /* 4px */;
  width: 2rem /* 32px */;
  background-color: rgb(var(--md-sys-color-outline) / 0.4);
  border-radius: 6.25rem /* 100px */;
}
.content {
  flex: 1 1 0%;
  overflow-y: auto;
  max-height: calc(100vh - 4.5rem);
}
.content-inner {
  padding: 0.5rem /* 8px */;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--md-sys-color-surface) / var(--tw-bg-opacity));
}
