.control {
  top: 50%;
  z-index: 30;
  position: absolute;
  transform: translateY(-50%);
  background-color: var(--md-sys-color-primary);
}
.left {
  left: 1rem;
}
.right {
  right: 1rem;
}
.icon {
  color: white;
}
