.carousel-indicator {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  z-index: 30;
  display: flex;
  transform: translateX(-50%);
  gap: 0.75rem;
}
.button {
  border: 0 solid #e5e7eb;
  appearance: button;
  background-image: none;
  cursor: pointer;

  width: 0.75rem /* 12px */;
  height: 0.75rem /* 12px */;
  border-radius: 9999px;
}
.indicator {
  background-color: var(--md-sys-color-background);
}
.indicator:hover {
  background-color: var(--md-sys-color-on-primary);
}
.active {
  background-color: var(--md-sys-color-primary-container);
}
.active:hover {
  background-color: var(--md-sys-color-on-primary-container);
}
