@keyframes linear-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes expand-arc {
  0% {
    transform: rotate(265deg);
  }
  50% {
    transform: rotate(130deg);
  }
  100% {
    transform: rotate(265deg);
  }
}

@keyframes rotate-arc {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

.animating {
  animation: 1568.24ms linear 0s infinite normal none running linear-rotate;
}
.color-primary {
  --tw-text-opacity: 1;
  color: rgb(var(--md-sys-color-primary) / var(--tw-text-opacity));
}
.color-secondary {
  --tw-text-opacity: 1;
  color: rgb(var(--md-sys-color-secondary) / var(--tw-text-opacity));
}
.color-tertiary {
  --tw-text-opacity: 1;
  color: rgb(var(--md-sys-color-tertiary) / var(--tw-text-opacity));
}
.color-error {
  --tw-text-opacity: 1;
  color: rgb(var(--md-sys-color-error) / var(--tw-text-opacity));
}
.size-xs {
  width: 2.25rem /* 36px */;
  height: 2.25rem /* 36px */;
}
.size-sm {
  width: 3rem /* 48px */;
  height: 3rem /* 48px */;
}
.size-md {
  width: 3.75rem;
  height: 3.75rem;
}
.size-lg {
  width: 4.5rem /* 36px */;
  height: 4.5rem /* 36px */;
}
.size-xl {
  width: 5.25rem /* 36px */;
  height: 5.25rem /* 36px */;
}
.size-2xl {
  width: 6rem /* 96px */;
  height: 6rem /* 96px */;
}

.indeterminate {
  position: absolute;
  inset: 0;
  animation: 5332ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running
    rotate-arc;
}
.spinner-wrapper-left {
  position: absolute;
  overflow: hidden;
  inset: 0 50% 0 0;
}
.spinner-wrapper-right {
  position: absolute;
  overflow: hidden;
  inset: 0 0 0 50%;
}
.spinner {
  position: absolute;
  border-radius: 9999px;
  border-style: solid;
  border-color: currentColor currentColor transparent transparent;
  animation:
    1333ms cubic-bezier(0.4, 0, 0.2, 1) 0s infinite normal both running
      expand-arc,
    5332ms;
}
.spinner-left {
  inset: 0 -100% 0 0;
  --tw-rotate: 135deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.spinner-right {
  inset: 0 0 0 -100%;
  --tw-rotate: 100deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.spinner-xs {
  border-width: 0.1875rem;
}
.spinner-sm {
  border-width: 0.25rem;
}
.spinner-md {
  border-width: 0.3125rem;
}
.spinner-lg {
  border-width: 0.375rem;
}
.spinner-xl {
  border-width: 0.4375rem;
}
.spinner-2xl {
  border-width: 0.5rem;
}
.svg {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
