.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem /* 80px */;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--md-sys-color-surface) / var(--tw-bg-opacity));
}
.list {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0.5rem /* 8px */;
  padding: 0.75rem 0.5rem 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
