.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrim {
  position: absolute;
  inset: 0;
  opacity: 32%;
  background: var(--md-sys-color-scrim, #000000);
}

.content {
  z-index: 1;
  background: var(
    --md-dialog-container-color,
    var(--md-sys-color-surface-container-high, #ece6f0)
  );
}
.content [role='dialog']:focus-visible {
  outline: none;
}
