.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scrim {
  position: absolute;
  inset: 0;
  opacity: 32%;
  background: rgb(var(--md-sys-color-scrim, 0, 0, 0));
}

.content {
  background: var(
    --md-dialog-container-color,
    rgb(var(--md-sys-color-surface-container-high, 236, 230, 240))
  );
}
.content [role='dialog']:focus-visible {
  outline: none;
}
