.root {
  display: inline-flex;
  width: 100%;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(var(--md-sys-color-surface));
}

.size-default {
  height: 4rem;
  text-align: center;
  gap: 0.375rem;
}
.size-small {
  height: 4rem;
  gap: 0.25rem;
}
.size-medium {
  height: 7rem;
  gap: 0.25rem;
}
.size-large {
  height: 10rem;
  gap: 2.5rem;
}
.item {
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.item-inner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  border-radius: 6.25rem;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  padding: 0.5rem;
}
.icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(var(--md-sys-color-on-surface) / var(--tw-text-opacity));
}
.title-small {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0px;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(var(--md-sys-color-on-surface) / var(--tw-text-opacity));
}

.title-big {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  padding-left: 1rem;
  padding-right: 1rem;
}
.title-big-inner {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(var(--md-sys-color-on-surface) / var(--tw-text-opacity));
}
