.a-ripple {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  cursor: inherit;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &:before,
  &:after {
    content: '';
    opacity: 0;
    position: absolute;
  }
  &:before {
    background-color: var(
      --md-ripple-hover-color,
      var(--md-sys-color-on-surface, #1d1b20)
    );
    inset: 0;
    transition:
      opacity 15ms linear,
      background-color 15ms linear;
  }
  &:after {
    background: radial-gradient(
      closest-side,
      var(--md-ripple-pressed-color, var(--md-sys-color-on-surface, #1d1b20))
        max(100% - 70px, 65%),
      transparent 100%
    );
    transform-origin: center center;
    transition: opacity 375ms linear;
  }
  &.hovered:before {
    background-color: var(
      --md-ripple-hover-color,
      var(--md-sys-color-on-surface, #1d1b20)
    );
    opacity: var(--md-ripple-hover-opacity, 0.08);
  }
  &.pressed:after {
    opacity: var(--md-ripple-pressed-opacity, 0.12);
    transition-duration: 105ms;
  }
}
