.root {
  display: flex;
  padding-left: 1rem /* 16px */;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  isolation: isolate;
  min-height: 3.5rem /* 56px */;
  position: relative;
  align-items: center;
  line-height: 1.5;
  cursor: pointer;
}
.hovered {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: var(--md-sys-color-surface-variant);
}
