.root {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border-radius: 0.75rem /* 12px */;
}
.filled {
  background-color: var(--md-sys-color-inverse-surface);
}
.outlined {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: var(--md-sys-color-outline) / var(--tw-border-opacity);
}
.card {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 0.75rem /* 12px */;
  border-top-right-radius: 0.75rem /* 12px */;
}
